.parallaxTokyo {
    background: url('/public/images/japan-217882_1920.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 75vh;
    display: flex; 
    width: 90vw;
    margin: 0 5vw;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 2rem;
  }
  .parallaxNY {
    background: url('/public/images/buildings-2699520.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 75vh;
    display: flex; 
    width: 90vw;
    margin: 0 5vw;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 2rem;
  }
  .parallaxPUC {
    background: url('/public/images/under-construction-2891888_1920.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 75vh;
    display: flex; 
    width: 90vw;
    margin: 0 5vw;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 2rem;
  }

  /* Mobile Responsiveness */
  @media (max-width: 768px) {
    .parallaxTokyo {
      background-attachment: scroll; /* Disable fixed background for mobile */
      height: 40vh;
    }
    .parallaxNY {
      background-attachment: scroll; /* Disable fixed background for mobile */
      height: 40vh;
    }
    .parallaxPUC {
      background-attachment: scroll; /* Disable fixed background for mobile */
      height: 40vh;
    
    }
    

  }
  